<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"><!-- Nos obliga a cerrar todas las etiquetas, bien formado -->

    <head>
        <meta charset="UTF-8" />
        <title>Login SVERGA</title>
        <link rel="stylesheet" type="text/css" href="static/css/_main.css" th:href="@{/css/_main.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    </head>

    <body class="body1" style="background-color:#DAE8FC; padding-bottom: 220px;">
        <header th:replace="layout/plantillas::header"/>
        <br/>

        <div class="container text-center">
            <div class="row">

                <!--COLUMNA DE LA IZQUIERDA-->
                <div class="col">
                    <!-- La línea a continuación establece el borde-->
                    <div class="recuadro_login">

                        <form th:action="@{/login}" method="post">

                            <div th:if=${param.error}>
                                <div class="alert alert-danger">Usuario o contraseña incorrectos.</div>
                            </div>
                            <div th:if=${param.logout}>
                                <div class="alert alert-info">Ha cerrado sesión.</div>
                            </div>
                            
                            <!--Ingresar Usuario (Email)-->
                            <div class="mb-3">
                                <label for="email" class="form-label">Usuario</label> 
                                <input id="email"  name="username" type="text" class="form-control" placeholder="Escriba su email"/>
                            </div>
                            <!-- Ingresar Contraseña-->
                            <div class="mb-3">
                                <label  for="clave" class="form-label">Contraseña</label> 
                                <input  type="password"  name="password" class="form-control" id="clave"
                                        placeholder="Escriba su contraseña"/>
                                <br/>
                                <!--El siguiente botón muestra la contraseña escrita por el usuario. El nombre del botón cambia al pulsarlo-->
                                <button id="visibilidad_contraseña" type="button" class="btn btn-primary">Mostrar Contraseña</button>
                                <br/>
                                <br/>
                                <!--Botón entrar para acceder a la aplicación-->
                                <div class="mb-3">
                                    <input type="submit" class="form-control btn btn-primary" name="login-submit" id="login-submit" style="width:170px" value="Iniciar sesión"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--COLUMNA CENTRAL-->
                <div class="col">
                    <!-- La línea a continuación establece el borde-->
                    <div class="recuadro_login">

                        <p>¿Ha olvidado su contraseña?</p>
                        <button type="button" class="btn btn-primary" onclick="window.modal4.showModal();">Pulse aquí para
                            recuperarla</button>

                        <!-- Esta ventana se muestra para recuperar la contraseña -->
                        <dialog id="modal4">
                            <h2>Introduzca su correo electrónico.</h2>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Usuario</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="window.modal4.close();">Enviar</button>
                            <!--INTRODUCIR AQUÍ LA CONSULTA PARA EL PROCEDIMIENTO DE RECUPERACIÓN DE CONTRASEÑA-->
                            <button type="button" class="btn btn-danger" onclick="window.modal4.close();">Cancelar</button>
                        </dialog>
                    </div>
                </div>
                
                <!--COLUMNA DE LA DERECHA-->
                <div class="col">
                    <div class="recuadro_login">
                        <p>¿No está registrado?</p>
                        <a class="btn btn-primary" th:href="@{/registroUsuario}">Regístrese aqui</a>
                    </div>
                </div>
                
            </div>
        </div>
        <br/>
        <footer th:replace="layout/plantillas::footer"/>

        <!--El siguiente script muestra u oculta la contraseña-->
        <script>
            const passwordInput = document.getElementById('clave');
            const toggleButton = document.getElementById('visibilidad_contraseña');

            toggleButton.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleButton.textContent = 'Ocultar contraseña';
            } else {
            passwordInput.type = 'password';
            toggleButton.textContent = 'Mostrar contraseña';
            }
            });
        </script>
    </body>
</html>