<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"><!-- Nos obliga a cerrar todas las etiquetas, bien formado -->

    <head>
        <meta charset="utf-8"/>
        <title>Registro Nuevo Usuario SVERGA</title>
        <link rel="stylesheet" type="text/css" href="static/css/_main.css" th:href="@{/css/_main.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    </head>

    <body class="body1" style="background-color:#FFF2CC; padding-bottom: 220px;">
        <header th:replace="layout/plantillas::header"/>
        <br/>

        <div class="container text-center">
            <!-- Mensaje confirmacion solicitud ed alta -->
            <div th:if=${param.exito}>
                <div class="alert alert-success">Se ha solicitado con éxito el alta en la aplicación SVERGA.</div>
            </div>

            <div class="recuadro_admin_central" style="width: 50%; margin: auto;">
                <!--Enlace para volver a la pagina de Login-->
                <span>Si ya esta registrado inicie sesión <a th:href="@{/login}">aqui.</a></span>
                <br/>
                <!--Título del formulario-->
                <h1>Nuevo Usuario</h1>

                <form th:action="@{/registroUsuario}" method="post" th:object="${usuario}">

                    <!--Nombre-->
                    <div class="form-floating mb-3">
                        <input id="nombre" type="text" class="form-control" th:field="*{nombre}" required="" autofocus="autofocus"/>
                        <label for="nombre">Nombre</label>
                    </div>
                    
                    <!--Apellido 1-->
                    <div class="form-floating mb-3">
                        <input id="apellido1" type="text" class="form-control" th:field="*{apellido1}" required=""/>
                        <label for="apellido1">Primer Apellido</label>
                    </div>
                    
                    <!--Apellido 2-->
                    <div class="form-floating mb-3">
                        <input id="apellido2" type="text" class="form-control"  th:field="*{apellido2}" required=""/>
                        <label for="apellido2">Segundo Apellido</label>
                    </div>

                    <!--Lista desplegable de empleos-->
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelectDisabled" th:field="*{empleo}">
                            <option value="" selected></option>
                            <option value="Civil">Civil</option>
                            <option value="Capitán de Navío">Capitán de Navío</option>
                            <option value="Capitán de Fragata">Capitán de Fragata</option>
                            <option value="Capitán de Corbeta">Capitán de Corbeta</option>
                            <option value="Teniente de Navío">Teniente de Navío</option>
                            <option value="Alférez de Navío">Alférez de Navío</option>
                            <option value="Suboficial Mayor">Suboficial Mayor</option>
                            <option value="Subteniente">Subteniente</option>
                            <option value="Brigada">Brigada</option>
                            <option value="Sargento Primero">Sargento Primero</option>
                            <option value="Sargento">Sargento</option>
                            <option value="Cabo Mayor">Cabo Mayor</option>
                            <option value="Cabo Primero">Cabo Primero</option>
                            <option value="Cabo">Cabo</option>
                            <option value="Marinero">Marinero</option>
                        </select>
                        <label for="floatingSelectDisabled">Empleo</label>
                    </div>
                   
                    <!--Email-->
                    <div class="form-floating mb-3">
                        <input id="exampleInputEmail1" type="email" class="form-control" th:field="*{mail}" required=""/>
                        <label for="exampleInputEmail1">Email</label>
                    </div>
               
                    <!--Teléfono-->
                    <div class="form-floating mb-3">
                        <input id="telefono" type="text" class="form-control" th:field="*{telefono}" required=""/>
                        <label for="telefono">Teléfono</label>
                    </div>
                 
                    <!--Departamento-->
                    <div class="form-floating mb-3">
                        <input id="departamento" type="text" class="form-control" th:field="*{departamento}" required=""/>
                        <label for="departamento">Departamento</label>
                    </div>
                
                    <!--Password-->
                    <div class="form-floating mb-3">
                        <input id="exampleInputPassword1" type="password" class="form-control" th:field="*{clave}" required=""/>
                        <label for="exampleInputPassword1">Contraseña</label>
                    </div>
                  
                    <!--Repita Password-->
                    <div class="form-floating mb-3">
                        <input id="repetir_password" type="password" class="form-control" required=""/>
                        <label for="repetir_password">Repita la Contraseña</label>
                    </div>

                    <br/>
                    <!--Guardar datos en la BD-->
                    <button type="submit" class="btn btn-success"  id="submitbutton" disabled>Solicitar Alta</button>

                    <!--Borrar formulario. Aparece una ventana de confirmación-->
                    <button type="button" class="btn btn-danger" onclick="window.modal2.showModal();">Borrar datos</button>

                    <!--Regresa a la pagina de Inicio-->
                    <a class="btn btn-danger" th:href="@{/login}">Cancelar</a>
                </form>
                <br/>
            </div>
        </div>
        <br/>
        <footer th:replace="layout/plantillas::footer"/>

        <!------------------------VENTANAS EMERGENTES CON AVISOS------------------------>
        <!--VENTANA 1 - Cuando se hace click en BORRAR DATOS, se abre la siguiente ventana-->
        <dialog id="modal2">
            <h2>¿Está seguro de que desea borrar los datos?</h2>
            <p>NOTA: Dejar este texto aquí por si hubiera que añadir algo después</p>
            <!--Botones dentro de la ventana emergente-->
            <button type="button" class="btn btn-primary" onclick="window.modal2.close();">No, mantener los datos</button>
            <button onclick="actualizapagina()" type="button" class="btn btn-danger">Sí, borrar todo</button>
        </dialog>

        <!--SCRIPTS-->
        <!--Script para actualizar la página. Borra todos los datos introducidos por el usuario-->
        <script>
            function actualizapagina() {
            //Recarga la página, por lo que cualquier contenido en las cajas aparecerá vacío
            location.reload();
            }
        </script>

        <!--El siguiente script deshabilita el botón "solicitar alta" y sólo se habilita cuando los campos de las contraseñas coinciden-->
        <script>
            // Add an event listener for when the input changes (not just on input)
            document.getElementById('repetir_password').addEventListener("input", comparePasswords);
            document.getElementById('exampleInputPassword1').addEventListener("input", comparePasswords);

            function comparePasswords() {
            // Get the password values
            var password = document.getElementById('exampleInputPassword1').value;
            var repeatPassword = document.getElementById('repetir_password').value;

            // Compare the passwords
            if(password === repeatPassword) {
            // If they match, enable the button
            document.getElementById('submitbutton').disabled = false;
            } else {
            // If they don't match, disable the button
            document.getElementById('submitbutton').disabled = true;
            }
            }
        </script>

        <!--El siguiente script sólo permite introducir letras en el campo NOMBRE y limita la longitud a 20-->
        <script>
            var nombreInput = document.getElementById("nombre");
            nombreInput.addEventListener("input", function () {
            nombreInput.value = nombreInput.value.replace(/[0-9]/g, "").substring(0, 20);
            });
        </script>

        <!--El siguiente script sólo permite introducir letras en el campo APELLIDO 1 y limita la longitud a 20-->
        <script>
            var apellido1Input = document.getElementById("apellido1");
            apellido1Input.addEventListener("input", function () {
            apellido1Input.value = apellido1Input.value.replace(/[0-9]/g, "").substring(0, 20);
            });
        </script>

        <!--El siguiente script sólo permite introducir letras en el campo APELLIDO 2 y limita la longitud a 20-->
        <script>
            var apellido2Input = document.getElementById("apellido2");
            apellido2Input.addEventListener("input", function () {
            apellido2Input.value = apellido2Input.value.replace(/[0-9]/g, "").substring(0, 20);
            });
        </script>

        <!--El siguiente script sólo permite introducir números en el campo TELÉFONO y limita la longitud a 10-->
        <script>
            var telefonoInput = document.getElementById("telefono");
            telefonoInput.addEventListener("input", function () {
            telefonoInput.value = telefonoInput.value.replace(/\D/g, "").substring(0, 10);
            });
        </script>

        <!--El siguiente script limita la longitud del campo EMAIL a 45-->
        <script>
            var emailInput = document.getElementById("exampleInputEmail1");
            emailInput.addEventListener("input", function () {
            emailInput.value = emailInput.value.substring(0, 45);
            });
        </script>

        <!--El siguiente script limita la longitud del campo DEPARTAMENTO a 20-->
        <script>
            var departamentoInput = document.getElementById("departamento");
            departamentoInput.addEventListener("input", function () {
            departamentoInput.value = departamentoInput.value.substring(0, 20);
            });
        </script>

        <!--El siguiente script limita la longitud del campo CONTRASEÑA a 255-->
        <script>
            var passwordInput = document.getElementById("exampleInputPassword1");
            passwordInput.addEventListener("input", function () {
            passwordInput.value = passwordInput.value.substring(0, 255);
            });
        </script>


        <!--El siguiente script resalta en rojo el campo "repetir la contraseña" si no coincide con "contraseña"-->
        <script>
            document.getElementById('repetir_password').oninput = function() {
            if(document.getElementById('exampleInputPassword1').value !== document.getElementById('repetir_password').value){
            document.getElementById('repetir_password').classList.add('highlight');
            } else {
            document.getElementById('repetir_password').classList.remove('highlight');
            }
            };
        </script>
    </body>
</html>